@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <meta content="" name="description">
    <meta content="" name="keywords">
  

</head>
<body>
    <div class="text-center">
    </div>
    <div class="text-left">
        <table style="width:100%">
            <tr>

                <section id="hero" class="d-flex align-items-center">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                                <h1 class="text-white">Welcome to <br /> The <img src="~/assets/heart.png" class="img-fluid animated" alt="Clinic logo" width="35" height="35"> Clinic</h1>
                             
                                <div class="d-flex mt-4">

                                    <button type="button" class="btn btn-primary">
                                        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                        </button>
                               
                                </div>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                                <img src="~/assets/logo.png" class="img-fluid animated" alt="Clinic logo" width="500" height="570">
                            </div>
                        </div>
                    </div>

                </section>

            </tr>
        </table>
    </div>

</body>