@{
    ViewData["Title"] = "Review";
}


<section>
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8 text-center">
            <h3 class="mb-4">@ViewData["Title"]</h3>
       
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-4 mb-5 mb-md-0">
            <div class="d-flex justify-content-center mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                     class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">Maria Smantha</h5>
         
            <p class="px-xl-3">
            Super Servies 
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
                <li>
                    <i class="bi bi-star-fill text-warning"></i>
                </li>
                <li>
                    <i class="bi bi-star-fill text-warning"></i>
                </li>
                <li>
                    <i class="bi bi-star-fill text-warning"></i>
                </li>
                <li>
                    <i class="bi bi-star-fill text-warning"></i>
                </li>
                <li>
                    <i class="bi bi-star-fill text-warning"></i>
                </li>
            </ul>
        </div>
        <div class="col-md-4 mb-5 mb-md-0">
            <div class="d-flex justify-content-center mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                     class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">Lisa Cudrow</h5>
           
            <p class="px-xl-3">
                Not Bad And Not Good
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
                <li>
                    <i class="bi bi-star-fill text-warning"></i>
                </li>
                <li>
                    <i class="bi bi-star-fill text-warning"></i>
                </li>
                <li>
                    <i class="bi bi-star-fill text-warning"></i>
                </li>
            
            </ul>
        </div>
        <div class="col-md-4 mb-0">
            <div class="d-flex justify-content-center mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
                     class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">John Smith</h5>
   
            <p class="px-xl-3">
                very good work
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
                <li>
                    <i class="bi bi-star-fill text-warning"></i>
                </li>
                <li>
                    <i class="bi bi-star-fill text-warning"></i>
                </li>
                <li>
                    <i class="bi bi-star-fill text-warning"></i>
                </li>
                <li>
                    <i class="bi bi-star-fill text-warning"></i>
                </li>
              
            </ul>
        </div>
    </div>
</section>
