

<center>


    <div class="row">
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body bgCard">
                    <h5 class="card-title">DOCTORS</h5>
                    <p class="card-text">Show all Doctors</p>
                    <button type="button" class="btn btn-outline-primary mb-3">
                        <a class="text-white text-decoration-none" asp-area="" asp-controller="DoctorDetails" asp-action="Index">DOCTORS IN CLINIC</a>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-sm-6 mb-3 ">
            <div class="card">
                <div class="card-body bgCard">
                    <h5 class="card-title">ADD PATIENTS</h5>
                    <p class="card-text">Add to System Patients</p>
                    <button type="button" class="btn btn-outline-primary mb-3">
                        <a class="text-white text-decoration-none" asp-area="" asp-controller="PatientDetails" asp-action="Create">ADD NEW PATIENT</a>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body bgCard">
                    <h5 class="card-title">PATIENTS</h5>
                    <p class="card-text">Show all Patients</p>
                    <button type="button" class="btn btn-outline-primary mb-3">
                        <a class="text-white text-decoration-none" asp-area="" asp-controller="PatientDetails" asp-action="Index">PATIENTS IN CLINIC</a>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body bgCard">
                    <h5 class="card-title">ADD APPOINTMENT</h5>
                    <p class="card-text">Add to System Appointments</p>

                    <button type="button" class="btn btn-outline-primary mb-3">
                        <a class="text-white text-decoration-none" asp-area="" asp-controller="Appointments" asp-action="Create">ADD NEW APPOINTMENT</a>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body bgCard">
                    <h5 class="card-title">APPOINTMENTS</h5>
                    <p class="card-text">Show all Appointments</p>

                    <button type="button" class="btn btn-outline-primary mb-3">
                        <a class=" text-white text-decoration-none" asp-area="" asp-controller="Appointments" asp-action="Index">APPOINTMENTS SCHEDULED</a>
                    </button>
                </div>
            </div>
        </div>

   </div>



</center>